@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

:root {
    --font-family: Work Sans, sans-serif;
    --color-bg: white;
    --color-bg2: white;
    --color-bg2-shade: #292231;
    --color-bg_light: #9ed57b;
    --color-grey: #3c3c3e;
    --color-text: #000000;
    --color-orange: #D5775B;
    --color-bright: #ffc155;
    --color-green: #00C9AB;
    --color-red: #9C4A59;



}