@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

:root {
    --font-family: Work Sans, sans-serif;
    --color-bg: white;
    --color-bg2: white;
    --color-bg2-shade: #5E4B5E;
    --color-green: #9ed57b;
    --color-grey: #2e2e30;
    --color-text: #000000;
    --color-orange: #A16477;
    --color-bright: #FFB869;
    --color-red: #9C4A59;



}