@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --color-bg: white;
    --color-bg2: white;
    --color-bg2-shade: #292231;
    --color-bg_light: #9ed57b;
    --color-grey: #7C7484;
    --color-text: #000000;
    --color-orange: #D5775B;
    --color-bright: #ffc155;
    --color-green: #00C9AB;
    --color-red: #9C4A59;



}