
img {
    height: 8vh;
    display: block;
}

.avatar img{
    height: 4vh;
    display: block;
}


#board-div {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

#board-div:after {
    content: "";
    display: block;
}

.field {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.field:after {
    content: "";
    display: block;
}


#numeric-div {
    position: absolute;
    margin-bottom: 6.4vh;
    margin-right: 6.5vh;
    font-size: 1.3vh;
}

.player-graveyard-wrapper {
    display: flex;
    flex-direction: column;
}
.player-graveyard-wrapper p {
    margin-left: .5vw;
}

.graveyard img {
    height: 2vh;
}

.avatar {

}

#letter-div {
    position: absolute;
    margin-top: 6.4vh;
    margin-left: 6.5vh;
    font-size: 1.3vh;
}

.black {
    background-color: #b58863;
    color: #f0d9b5;
}

.white {
    background-color: #f0d9b5;
    color: #b58863;

}

.piece {
    cursor: pointer;
}

.invisible {
    display: none;
}

.hold {

}
.graveyard {
    margin-top: .5vh;
    display: flex;

}
.piece-graveyard {
    display: flex;
    margin-right: .5vw;
}

.piece-graveyard img {
    margin-right: -.5vw;
}

#details {
    width: 100px;
    background-color: aqua;
}

.chess-wrapper {
    display: flex;
    justify-content: center;
}


.chess-container {
    display: grid;
    grid-template-columns: 20% auto auto 30% ;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
    justify-items: start;

}

#panel {
    display: grid;
    grid-column: 3;
    grid-row: 3;
}

#topPlayer {
    grid-column: 2;
    grid-row: 2;
}

#chess {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 7fr 1fr 7fr;
}


#bottomPlayer {
    grid-row: 4;
    grid-column: 2;
}


.player-panel {
    height: 5vh;
    display: flex;
    background-color: #F49867;
}


#turns {
    background-color: #031B34;
    height: 40vh;
    width: 15vw;
}

#buttons {

}


.take {
    background-color: crimson;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.legal {
    background-color: aquamarine;
}

.hovered {
    background-color: cornflowerblue;
}

.piece {
    color: white;
}

#piece-picker-box {
    display: grid;
    border: 1px solid lightslategray;
    background: white;
    z-index: 2;
    align-items: center;
    justify-items: center;
}

#back-button {
    height: 10px;
    width: 10px;
    background-color: red;
    cursor: pointer;
}

#forward-button {
    background-color: green;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

#start-button {
    background-color: palegreen;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

#end-button {
    background-color: greenyellow;
    cursor: pointer;
    height: 10px;
    width: 10px;

}

#turn-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}