
img {
    height: 8vh;
    display: block;
}

.avatar img{
    height: 5vh;
}

select {
    background: #031B34;
    color: #fff;
    text-align: center;
    font-size: 2vh;
}

#turns {
    background-color: #031B34;
    height: 60.5vh;
    width: 15vw;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1e314f;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

#board-div {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

#board-div:after {
    content: "";
    display: block;
}

.field {
    display: grid;
    min-width: 8vh;
    justify-items: center;
    align-items: center;
}

.field:after {
    content: "";
    display: block;
}

.last-move {
    background-color: #AE67FA;
}

#numeric-div {
    position: absolute;
    margin-bottom: 6.4vh;
    margin-right: 6.5vh;
    font-size: 1.3vh;
}

.player-graveyard-wrapper {
    display: flex;
    flex-direction: column;
}
.player-graveyard-wrapper p {
    margin-left: .2vw;
}

.graveyard img {
    height: 2vh;
}

.avatar {

}

#letter-div {
    position: absolute;
    margin-top: 6.4vh;
    margin-left: 6.5vh;
    font-size: 1.3vh;
}

.black {
    background-color: #b58863;
    color: #f0d9b5;
}

.white {
    background-color: #f0d9b5;
    color: #b58863;

}

#chess-mate {
    color: white;
    font-size: 3vh;
    margin-top: 2vh;

}

.piece {
    cursor: pointer;
}

.invisible {
    display: none;
}


.graveyard {
    margin-top: .5vh;
    display: flex;

}
.piece-graveyard {
    display: flex;

}

#new-game-balloon {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 500;
    position: fixed;
    border-radius: 0.2rem;
    font-size: 1.5vh;
    align-self: end;
    padding: 5px 5px 5px 5px;
    align-items: center;
    transform: translateX(10vw) translateY(-4vh);

}

.take{
    background-color: #dc5555;
}

.tooltip {
    position: relative;
    text-decoration: underline dotted;
    cursor: help;
}

.tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 2vh;
    color: black;
    width: 40px;
    background: ghostwhite;
    border-radius: 5px;
    padding: 5px;
    font-size: 1vh;

}

.tooltip::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid white;
}

.tooltip::before,
.tooltip::after {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out;
}

.tooltip:hover::before,
.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

.tooltip--top::before,
.tooltip--top::after {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
}

.tooltip--top::after {
    margin-bottom: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid ghostwhite;
}



.legal {
    background-color: teal;
}

table {
    margin-top: 2vh;
    width: 100%;
    text-align: center;
    border-spacing: 0px;

}
td {
   padding: 1px 1px 1px 1px;
}

tr {
    color: white;
    font-size: 1.5vh;
    margin-left: 1vw;
    margin-right: 1vw;

}

.turn-even {
    background-color: #173d62;
}

.new-game-balloon-button {
    font-size: 1.5vh;
    border-radius: 0.2rem;
    margin-left: 5px;
    padding: 2px 2px 2px 2px;

}
.new-game-item {
    height: 3vh;
    margin-top: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;
    width: 12vw;


}

.piece-graveyard img {
    margin-right: -.5vw;
}

#details {
    width: 100px;
    background-color: aqua;
}

.chess-wrapper {
    display: flex;
    justify-content: center;
}


.chess-container {
    display: grid;
    grid-template-columns: 20% auto auto 30% ;
    grid-template-rows: auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: stretch;

}

#panel {
    display: grid;
    grid-column: 3;
    grid-row: 3;
}

#topPlayer {
    grid-column: 2;
    grid-row: 2;
}

#chess {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 7fr 1fr 7fr;
}

#start-game-button {
    background-color: #042c54;


    font-size: 2vh;


}

.chess-button{
    background-color: #042c54;
    cursor: pointer;
    text-align: center;
    color: white;
    padding-top: .5vh;
    padding-bottom: .5vh;
    margin-top: 1vh;
}

.chess-button:hover {
    background-color: #92b3d2;
}

#new-game-wrapper {
    display: flex;
    flex-direction: column;

}


#bottomPlayer {
    grid-row: 4;
    grid-column: 2;
}


.player-panel {
    height: 5vh;
    display: flex;
    background-color: lightslategray;
}

p {
    font-size: 2vh;
}

#buttons {
    display: flex;
    column-gap: 2px;
    align-self: end;
    margin-top: .5vh;
}
.panel-button {
    color: white;
    background-color: #042c54;
    width: 25%;
    font-size: 3vh;
    cursor: pointer;
    text-align: center;
}

.panel-button:hover {
    color: #AE67FA;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}

.reset-button {
    border-radius: 50%;
    border: 3px solid #000;
    cursor: pointer;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.hovered {
    background-color: cornflowerblue;
    cursor: pointer;
}


#piece-picker-box {
    display: grid;
    border: 1px solid lightslategray;
    background: white;
    z-index: 2;
    align-items: center;
    justify-items: center;
}


#turn-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}