.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    position: sticky;


}

.navigation-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation-links_logo {
    margin-right: 2rem;

}

.navigation-links img {
    width: 60px;
    height: 60px;
}

.navigation-links-container {
    display: flex;
    flex-direction: row;
}


.navigation-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation-links-container p,
.navigation-sign p,
.navigation-menu-container p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2em;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1em;
    cursor: pointer;
}

.navigation-menu {
    margin-left: 1rem;
    display: none;
    position: relative;

}

p:hover {
    color: var(--color-bright);

}


.navigation-menu svg {
    cursor: pointer;
}

.navigation-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    flex-direction: column;
    background-color: var(--color-bg_light);
    padding: 2rem;
    position: absolute;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

}

.navigation-menu-container p {
    margin: 1rem 0;
}

.navigation-menu-container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px){
    .navigation-links-container {
        display: none;
    }
    .navigation-menu {
        display: flex;
    }

}

@media screen and (max-width: 700px){
    .navigation {
        padding: 2rem 4rem;
    }
}
@media screen and (max-width: 550px){
    .navigation {
        padding: 2rem;
    }
    .navigation-sign {
        display: none;
    }
    .navigation-menu-container {
        top: 20px;
    }
    .navigation-menu-container-links-sign {
        display: block;
    }
}