.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    position: sticky;
}

.navigation-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation-links_logo {
    margin-right: 2rem;

}

.navigation-links img {
    width: 60px;
    height: 60px;
}

.navigation-links-container {
    display: flex;
    flex-direction: row;
}


.navigation-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation-links-container p,
.navigation-sign p,
.navigation-menu-container p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2em;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1em;
    cursor: pointer;
}

.navigation-menu {
    margin-left: 1rem;
    display: none;
    position: relative;

}

.navigation-menu svg {
    cursor: pointer;
}

.navigation-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    flex-direction: column;
    background-color: var(--color-mauve);
    padding: 2rem;
    position: absolute;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;

}


.navigation-menu-container p {
    margin: 1rem 0;
}

.navigation-menu-container-links-sign {
    display: none;
}

