.about-me-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 3rem;
    color: var(--color-text);
    font-family: var(--font-family);
    background-color: #b3cb05;
    height: 100vh;
}

.about-me-content-wrapper {
    display: flex;
    flex-direction: row;
    grid-row: 2;
    gap: 2rem;
    margin-left: 1vw;
    margin-right: 1vw;

}

.about-me-image {
    display: flex;
    flex-direction: row;
}

.about-me-image img {
    height: 25vw;
}

.text-block {
    font-size: 1vw;
    color: white;
    background-color: black;
    padding: 3rem;
}


#my-picture {
    position: absolute;
}

.thats-me {
    position: relative;
    grid-row: 2;
    background: #d5d5d5;
    transform: translatex(0px);
    transition: transform 0.25s ease-in;
}


.thats-me-transition {
    transform: translatex(35vw);
    transition: transform 0.25s ease-in;

}

.box-shadow {
    box-shadow: black 0px 7px 14px;
}


.picture-and-headline {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    justify-content: space-between;
    margin-left: 1vw;
    margin-top: 1vw;
}

.headline-wrapper {
    display: flex;
    flex-direction: column;
    transform: translateX(15vw);
}


.headline {
    font-size: 8vw;
    font-weight: bolder;
    color: white;
}

.me {
    font-size: 8vw;
    transform: translateY(-5vh);
    color: white;
    font-weight: lighter;
}

.quote {
    font-weight: lighter;
    color: white;
    font-size: 1vw;
    font-style: oblique;
    width: 50%;
}

.about-me-content {
    padding: 5rem;
    grid-row: 2;
}

img {
    height: 20vw;
    overflow: hidden;
}

.icons {
    display: flex;
    grid-row: 3;
    grid-column: 1;
    margin-left: 1vw;


}

.icon {
    border: 1px var(--color-text);
    font-size: 4vh;
    margin-left: 6px;
    cursor: pointer;
}

.icon:hover {
    color: var(--color-bright);
}