.about-me-container {
    display: flex;
    justify-content: center;
    color: black;
    font-family: var(--font-family);
}

.about-me-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: center;
    width: 50%;

}

.about-me-image {
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.about-me-image img {
    width: 30vw;
}

.text-block {
    font-size: .7vw;
    padding: 3rem;
    z-index: 5;
    width: 30vw;
}


#my-picture {
    position: absolute;
}

.thats-me {
    position: relative;
    grid-row: 2;
    background: #d5d5d5;
    transform: translatex(0px);
    transition: transform 0.25s ease-in;
}


.thats-me-transition {
    transform: translatex(30vw);
    transition: transform 0.25s ease-in;

}


.picture {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-top: 1vw;
}

.headline-wrapper {
    display: flex;
    flex-direction: row;
}

.headline {
    font-size: 8vw;
    font-weight: bolder;
    color: white;
}

.me {
    font-size: 8vw;
    color: white;
    font-weight: lighter;
}

.about-me-content {
    padding: 5rem;
}


.icons {
    margin-left: 1vw;
}

.icon {
    border: 1px var(--color-text);
    font-size: 4vh;
    margin-left: 6px;
    cursor: pointer;
}

.icon:hover {
    color: var(--color-bright);
}