#skills svg {
    width: 15vh;
}

.skill-container {
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    justify-items: center;
}

.cv-block {
    background-color: whitesmoke;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
}


circle {
    fill: var(--color-orange);
}


#cv {
    height: 70vh;
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.header-background {
    display: flex;
    border-bottom: 150px solid var(--color-orange);
    height: 0;
    width: 100%;
}

.header-background p {
    font-size: 3vw;
    padding: 1rem;
   font-weight: bold;
    color: #1e314f;
}



.education-background {
    clip-path: polygon(0 0, 100% 0,100% 100%, 0 60%);

}

.work-background {
    clip-path: polygon(0 0, 100% 0,100% 70%, 0 70%);
}

.skills-background {
    clip-path: polygon(0 0, 100% 0,100% 70%, 0% 100%);
}

#cv-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    font-family: var(--font-family);
    margin-left: 5vw;
    margin-right: 5vw;
}

