#skills svg {
    width: 15vh;
}

.skill-container {
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;

}

#cv {
    height: 70vh;
    margin-top: 30vh;
    margin-bottom: 30vh;
    background-color: var(--color-bg2-shade);
}

#cv-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    justify-items: center;
    font-family: var(--font-family);

    margin-left: 5vw;
    margin-right: 5vw;
}

.container {
    margin-top: 5vh;

}

.container ul {
    list-style: none;
    position: relative;
    color: var(--color-text);
    font-size: 2vh;

}
.container ul:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed var(--color-text);
}
.container ul li {
    position: relative;
    margin-left: 30px;
    background-color: var(--color-bg_light);

    padding: 14px;
    border-radius: 6px;
    width: 15vw;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.container ul li:not(:first-child) {
    margin-top: 60px;
}
.container ul li > span {
    width: 2px;
    height: 100%;
    background: var(--color-text);
    left: -30px;
    top: 0;
    position: absolute;
}
.container ul li > span:before, .container ul li > span:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid var(--color-text);
    position: absolute;
    background: var(--color-bright);
    left: -5px;
    top: 0;
}
.container ul li span:after {
    top: 100%;
}
.container ul li > div {
    margin-left: 10px;
}
.container div .title, .container div .type {
    font-weight: 600;
    font-size: 1vh;
}
.container div .info {
    font-weight: 300;
}
.container div > div {
    margin-top: 5px;
}
.container span.number {
    height: 100%;
}
.container span.number span {
    position: absolute;
    font-size: 1vh;
    left: -50px;
    font-weight: bold;
}
.container span.number span:first-child {
    top: 0;
}
.container span.number span:last-child {
    top: 100%;
}